__pycache__/
.eggs/
.env
.installed.cfg
.pdm-build/
.pdm-python
.pdm.toml
.Python
.venv
*.config.yaml
*.csv
*.egg
*.egg-info/
*.json
*.manifest
*.py[cod]
*.so
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
env.bak/
env/
ENV/
generated/
lib/
lib64/
MANIFEST
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
share/python-wheels/
var/
venv.bak/
venv/
wheels/
